.card {
  position: relative;
  margin: auto;
  padding: 15px;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(200, 200, 200, 0.2);
  color: #362d26;
}

h3 {
  margin: 0 0 15px 0;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.image-div {
  position: relative;
  margin: 15px auto;
  width: 350px;
  height: 275px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.image-div img {
  width: 100%;
  height: auto;
}

.info {
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: rgba(248, 248, 248, 0.2);
  font-size: 0.8em;
}

#description {
  font-style: italic bold;
  color: purple;
}

#list-item {
  list-style: none;
  padding-left: 0;
  color: black;
  font-style: bold;
}

#list-item span {
  font-weight: bold;
  color: black;
}

.indent {
  padding-left: 200px;
  color: purple;
}

p {
  color: blue;
  font-size: large;
}

img {
  position: absolute;
  object-fit: cover;
  height: 120%;
  width: 100%;
}
